.pr-0 {
    padding-right: 0;
}

.pr-0 {
    padding-left: 0;
}

.pr-8 {
    padding-right: 8px;
}

.pr-8 {
    padding-left: 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}