<div class="h-25 row">
  <div class="col">
    <img src="/assets/images/logo.png" alt="QuinielaML" height="120px">
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
  <div class="card mx-auto col-lg-4 col-md-6 col-sm-8 col-xs-10 pr-0 pl-0">
    <h5 class="card-header">Welcome!</h5>
    <div class="card-body">
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group row mb-3 pr-8 pl-8">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
          <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
            Username is required!
          </div>
        </div>
        <div class="form-group row mb-3 pr-8 pl-8">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="3"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          <div *ngIf="password.errors && f.submitted" class="invalid-feedback row mb-5">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 3 characters
            </div>
          </div>
        </div>
        <div class="form-group row pr-8 pl-8">
          <button class="btn official-red btn-block mt-3">
            Login
          </button>
        </div>
        <div class="form-group row mb-3 pr-8 pl-8">
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </form>
    </div>
  </div>  
  <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
</div>
